form label input:hover{
    cursor: pointer;
}
form label input:active{
    cursor: default;
}
form{
    padding-left: 2%;
    border: 1px solid black;
    font-size: larger;
    padding-bottom: 3vw;
}
button{
    font-size: large;
}
input[type="text"]:hover{
    cursor: text;
}